<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/static/pages/img/favicon.png" type="image/png">
  <title>СнабСервис - контакты</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic">
  <link rel="stylesheet" href="/static/pages/css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <nav class="clearfix">
        <div class="logo">
          <img src="/static/pages/img/logo__header--snabservice.svg" width="137" height="35" alt="CнабСервис. Покупка черного лома">
        </div>
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" href="/">Главная</a>
          </li>
          <li class="menu__item">
            <a class="menu__link menu__link--services" href="/purchases/">Услуги</a>
            <ul class="menu__modal-window">
              <li class="menu__item menu__item--modal-window">
                <a class="menu__link menu__link--modal-window" href="/purchases/">Покупка черного лома</a>
              </li>
              <li class="menu__item menu__item--modal-window">
                <a class="menu__link menu__link--modal-window" href="/sales/">Продажа черного металлопроката</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/vacancies/">Вакансии</a>
          </li>
          <li class="menu__item menu__item--active">
            <a class="menu__link" href="/contacts/">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="contacts-info">
      <div class="container">
        <h1 class="page-title page-title--contacts-info">Контактная информация</h1>
        <ul class="contacts-info__list">
          <li class="contacts-info__item">
            <span class="contacts-info__key">Телефон:</span>
            <div class="contacts__values-set">
              <a class="contacts-info__value" href="tel:89034112620">8-903-411-26-20</a>
              <br>
              <a class="contacts-info__value" href="tel:88619442620">8-861-944-26-20</a>
            </div>
          </li>
          <li class="contacts-info__item">
            <span class="contacts-info__key">E-mail:</span>
            <a class="contacts-info__value" href="mailto:snabservis_llc@mail.ru">snabservis_llc@mail.ru</a>
          </li>
          <li class="contacts-info__item">
            <span class="contacts-info__key">Бухгалтерия:</span>
            <a class="contacts-info__value" href="tel:89604814967">8-960-481-49-67</a>
          </li>
          <li class="contacts-info__item">
            <span class="contacts-info__key">Секретарь:</span>
            <a class="contacts-info__value" href="tel:89604818737">8-960-481-87-37</a>
          </li>
          <li class="contacts-info__item">
            <span class="contacts-info__key">Отдел закупок:</span>
            <a class="contacts-info__value" href="tel:89604816384">8-960-481-63-84</a>
          </li>
          <li class="contacts-info__item">
            <span class="contacts-info__key">Нач. отдела продаж:</span>
            <a class="contacts-info__value" href="tel:89251110959">8-925-111-09-59</a>
          </li>
          <li class="contacts-info__item">
            <span class="contacts-info__key">Отдел продаж:</span>
            <div class="contacts__values-set">
              <a class="contacts-info__value" href="tel:89604814915">8-960-481-49-15</a>
              <br>
              <a class="contacts-info__value" href="tel:89604818466">8-960-481-84-66</a>
              <br>
              <a class="contacts-info__value" href="tel:89604813507">8-960-481-35-07</a>
            </div>
          </li>
        </ul>
        <a class="callback__link" href="#callback">Форма обратной связи</a>
      </div>
    </section>
    <section class="requisites">
      <div class="container">
        <h2 class="requisites__title">Отгрузочные реквизиты завода ООО “АЭМЗ”</h2>
        <ul class="requisites__list">
          <li class="requisites__item">
            <span class="requisites__key">Производственная база:</span>
            <span class="requisites__value">353320, Краснодарский край, г.&nbsp;Абинск, ул. Промышленная, 4</span>
          </li>
          <li class="requisites__item">
            <span class="requisites__key">Ж/Д Станция:</span>
            <span class="requisites__value">ст. Абинск, СК ж/д</span>
          </li>
          <li class="requisites__item">
            <span class="requisites__key">Код станции:</span>
            <span class="requisites__value">52 35 05</span>
          </li>
          <li class="requisites__item">
            <span class="requisites__key">Получатель:</span>
            <span class="requisites__value">ООО “СнабСервис”</span>
          </li>
          <li class="requisites__item">
            <span class="requisites__key">Код получателя:</span>
            <span class="requisites__value">66 95</span>
          </li>
        </ul>
        <div class="map">
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=T9-z_ECXfnWYsEuoAjBNsRUAQWKV6KSg&amp;width=100%&amp;height=720&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
          <!-- <div class="map__mask">
            <img src="/static/pages/img/mask__requisites--circle.svg" alt="">
          </div> -->
        </div>
      </div>
    </section>
    <section class="form-section form-section--callback" id="callback">
      <div class="container">
        <h2 class="form-section__title">Форма обратной связи</h2>
        <form class="form-section__form form-section__form--callback" id="form" action="/contacts/#callback" method="POST">
          {% csrf_token %}
          <label class="form__label form__label--first-name {% if form.name.errors %}form__label--invalid{% endif %}" for="name">
            <span class="form__text form__text--first-name">Имя *</span>
            <input class="form__input" id="name" name="name" type="text">
          </label>
          <label class="form__label form__label--phone {% if form.phone.errors %}form__label--invalid{% endif %}" for="phone">
            <span class="form__text form__text--phone">Телефон</span>
            <input class="form__input" id="phone" name="phone" type="text">
          </label>
          <label class="form__label form__label--email {% if form.email.errors %}form__label--invalid{% endif %}" for="email">
            <span class="form__text form__text--email">E-mail *</span>
            <input class="form__input" id="email" name="email" type="email">
          </label>
          <label class="form__label form__label--message {% if form.message.errors %}form__label--invalid{% endif %}" for="message">
            <span class="form__text form__text--message">Сообщение</span>
            <textarea class="form__input" id="message" name="message" rows="5"></textarea>
          </label>
          <label class="form__label form__label--acceptance {% if form.is_accepted.errors %}form__label--invalid{% endif %}" for="is_accepted">
            <input class="form__input form__input--acceptance" type="checkbox" name="is_accepted">
            <span class="form__text form__text--acceptance">Даю согласие на обработку персональных данных.</span>
          </label>
          <input class="btn btn--callback" type="submit" value="Отправить">
        </form>
      </div>
    </section>
  </main>
  <footer>
    <section class="contacts">
      <div class="container clearfix">
        <ul class="contacts__list contacts__list--main">
          <li class="contacts__item contacts__item--main">
            <span class="contacts__key contacts__key--main">Телефон:</span>
            <div class="contacts__values-set">
              <a class="contacts__value contacts__value--main" href="tel:89034112620">8 903 411-26-20</a>
              <br>
              <a class="contacts__value contacts__value--main" href="tel:88619442620">8 861 944 26 20</a>
            </div>
          </li>
          <li class="contacts__item contacts__item--main">
            <span class="contacts__key contacts__key--main">E-mail:</span>
            <a class="contacts__value contacts__value--main" href="mailto:snabservis_llc@mail.ru">snabservis_llc@mail.ru</a>
          </li>

        </ul>
        <ul class="contacts__list contacts__list--links">
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--requisites.pdf" target="blank_">Реквизиты ООО “СнабСервис”</a>
          </li>
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--license.pdf" target="blank_">Лицензия ООО “СнабСервис”</a>
          </li>
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--license_pril.pdf" target="blank_">Приложение к Лицензии</a>
          </li>
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--contract.pdf" target="blank_">Договор на поставку сырья</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="copyright">
      <div class="container clearfix">
        <p class="copyright__text copyright__text--snabservice">ООО “СнабСервис” 2017. Все права защищены.</p>
        <p class="copyright__text copyright__text--julo">разработано <a class="copyright__text--julo-title" href="http://startjulo.ru/" target="blank_">Julo</a></p>
      </div>
    </section>
  </footer>
  <script src="/static/pages/js/script__contacts.js"></script>
</body>
</html>