<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Продажа высококачественных материалов с Абинского АЭМЗ. Широкий выбор катанки, арматуры. В наличии шлаковый щебень и прокатная окалина">
  <link rel="shortcut icon" href="/static/pages/img/favicon.png" type="image/png">
  <title>Ассортимент металлопроката. Арматура А240, А500С. Прокатная окалина</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic">
  <link rel="stylesheet" href="/static/pages/css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <nav class="clearfix">
        <div class="logo">
          <img src="/static/pages/img/logo__header--snabservice.svg" width="137" height="35" alt="CнабСервис. Покупка черного лома">
        </div>
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" href="/">Главная</a>
          </li>
          <li class="menu__item menu__item--active">
            <a class="menu__link menu__link--services" href="/purchases/">Услуги</a>
            <ul class="menu__modal-window">
              <li class="menu__item menu__item--modal-window">
                <a class="menu__link menu__link--modal-window" href="/purchases/">Покупка черного лома</a>
              </li>
              <li class="menu__item menu__item--modal-window">
                <a class="menu__link menu__link--modal-window" href="/sales/">Продажа черного металлопроката</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/vacancies/">Вакансии</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/contacts/">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <h1 class="page-title page-title--services page-title--sales">
        <p class="page-title__goods-type">Ознакомьтесь с ассортиментом металлопроката</p>
        <p class="page-title__manufacturer">Производства завода “АЭМЗ”</p>
      </h1>
    </div>
    <section class="about">
      <section class="about__product">
        <div class="container">
          <h2 class="about__title about__title--product">Официальный дистрибьютер Абинского ЭМЗ</h2>
          <p class="about__text about__text--product">
            Компания ООО “СнабСервис” является одним из основных дистрибьютеров черного сортового металлопроката Абинского ЭМЗ. На складах в
            наличии всегда имеется запас металлопродукции, которая может быть доставлена покупателям в кратчайшие сроки. Благодаря собственной
            логистической базе, мы сотрудничаем с покупателями черного металлопроката по всей территории РФ и за ее пределами.
          </p>
        </div>
      </section>
      <section class="about__certification">
        <div class="about__title about__title--certification">
          <div class="container">
            Реализуемая металлопродукция поставляется напрямую<br>
            с Абинского Электро-Металлургического Завода и имеет полную сертификацию.
          </div>
        </div>
        <ul class="about__list about__list--certification">
          <div class="container">
            <li class="about__item about__item--certification">
              <a class="about__link about__link--certification" href="/static/pages/img/doc__certification--A240.pdf" target="_blank">
                <div class="about__picture about__picture--certification">
                  <img src="/static/pages/img/icon__certification--marker.svg" width="51" height="66" alt="">
                </div>
                <p class="about__text about__text--certification">
                  Сертификат соответствия A - I (A240)
                </p>
              </a>
            </li>
            <li class="about__item about__item--certification">
              <a class="about__link about__link--certification" href="/static/pages/img/doc__certification--AT800_AT1000.pdf" target="_blank">
                <div class="about__picture about__picture--certification">
                  <img src="/static/pages/img/icon__certification--marker.svg" width="51" height="66" alt="">
                </div>
                <p class="about__text about__text--certification">
                  Сертификат соответствия АТ800 и АТ1000 ГОСТ 10884-94 (10-16 мм)
                </p>
              </a>
            </li>
            <li class="about__item about__item--certification">
              <a class="about__link about__link--certification" href="/static/pages/img/doc__certification--A500C_8-25mm.pdf" target="_blank">
                <div class="about__picture about__picture--certification">
                  <img src="/static/pages/img/icon__certification--marker.svg" width="51" height="66" alt="">
                </div>
                <p class="about__text about__text--certification">
                  Сертификат соответствия A500C ГОСТ Р52544-2006 (8-25 мм)
                </p>
              </a>
            </li>
            <li class="about__item about__item--certification">
              <a class="about__link about__link--certification" href="/static/pages/img/doc__certification--A500C_8-25mm.pdf" target="_blank">
                <div class="about__picture about__picture--certification">
                  <img src="/static/pages/img/icon__certification--marker.svg" width="51" height="66" alt="">
                </div>
                <p class="about__text about__text--certification">
                  Сертификат соответствия A500C ГОСТ Р52544-2006 (8-25 мм)
                </p>
              </a>
            </li>
            <li class="about__item about__item--certification">
              <a class="about__link about__link--certification" href="/static/pages/img/doc__certification--A500C_28-40mm.pdf" target="_blank">
                <div class="about__picture about__picture--certification">
                  <img src="/static/pages/img/icon__certification--marker.svg" width="51" height="66" alt="">
                </div>
                <p class="about__text about__text--certification">
                  Сертификат соответствия A500C ГОСТ Р52544-2006 (28-40 мм)
                </p>
              </a>
            </li>
            <li class="about__item about__item--certification">
              <a class="about__link about__link--certification" href="/static/pages/img/doc__certification--CTO_8-14mm_16-25mm.pdf" target="_blank">
                <div class="about__picture about__picture--certification">
                  <img src="/static/pages/img/icon__certification--marker.svg" width="51" height="66" alt="">
                </div>
                <p class="about__text about__text--certification">
                  Сертификат соответствия СТО АСЧМ 7-93 8-14 мм и 16-25 мм
                </p>
              </a>
            </li>
          </div>
        </ul>
      </section>
      <section class="about__assortiment">
        <div class="container">
          <p class="about__title about__title--assortiment">
            Наш ассортимент включает в себя<br>
            черный металлопрокат следующих категорий:
          </p>
          <ul class="about__list about__list--assortiment">
            <li class="about__item about__item--assortiment">
              <span class="about__key about__key--assortiment">Арматура классов:</span>
              <span class="about__value about__value--assortiment">А240, А500С, АТ800</span>
            </li>
            <li class="about__item about__item--assortiment">
              <span class="about__key about__key--assortiment">Катанка классов:</span>
              <span class="about__value about__value--assortiment">СТ1СП-УО2, СТ1ПС-УО2, СТ3СП-УО2, СТ3ПС-УО2</span>
            </li>
          </ul>
          <p class="about__text about__text--assortiment">
            А так же, <span class="about__text--bold">шлаковый щебень</span> и <span class="about__text--bold">окалину прокатного производства</span>.
          </p>
          <h3 class="about__title about__title--assortiment">
            Цены на заявленный ассортимент указаны в таблицах ниже
          </h3>
          <p class="about__text about__text--assortiment">
            (для добавления позиции в заказ - измените количество тонн, в соответствующем столбце таблицы)
          </p>
        </div>
      </section>
    </section>
    <section class="goods clearfix">
      <div class="container">
        <ul class="goods__menu">
          {% for title in titles %}
            <li class="goods__item">
              <a class="goods__link" href="#{{ title }}">{{ title }}</a>
            </li>
          {% endfor %}
            <li class="goods__item goods__item--form">
              <a class="goods__link goods__link--form" href="#form-section">Перейти к заявке</a>
            </li>
        </ul>
        <section class="goods__sections">
          {% for title in titles %}
          <section class="goods__section" id="{{ title }}">
            <h2 class="goods__title">{{ title }}</h2>
            {% for category in categories %}
              {% if category.products.0.title == title %}
                <table class="goods__table">
                  <caption class="goods__caption">{{ category.name }}</caption>
                  {% ifchanged category.name %}
                    <tr class="goods__headers">
                      {% if title == "Арматура" %}
                        <th class="goods__header"></th>
                      {% endif %}
                      {% if title == "Арматура" or title == "Катанка" %}
                        <th class="goods__header">Диаметр, мм</th>
                      {% endif %}
                      {% if title == "Арматура" %}
                        <th class="goods__header">Длина, м</th>
                      {% endif %}
                      <th class="goods__header">Цена за тонну, <span class="ruble">&#8399;</span></th>
                      <th class="goods__header">Количество, т</th>
                      <th class="goods__header">Сумма, <span class="ruble">&#8399;</span></th>
                    </tr>
                  {% endifchanged %}
                  {% regroup category.products by shape as shape_list %}
                  {% for shape in shape_list %}
                    {% for product in shape.list %}
                    <tr class="goods__element">
                      {% if title == "Арматура" %}
                        {% ifchanged product.shape %}
                          <td class="goods__parameter goods__parameter--shape" rowspan="{{ shape.list|length }}">{{ shape.grouper }}</td>
                        {% endifchanged %}
                      {% endif %}
                      {% if title == "Арматура" or title == "Катанка" %}
                        <td class="goods__parameter goods__parameter--diameter">{{ product.diameter }}</td>
                      {% endif %}
                      {% if title == "Арматура" %}
                        <td class="goods__parameter goods__parameter--length">
                          {% if product.length %}
                            {{ product.length }}
                          {% else %}
                            - - -
                          {% endif %}</td>
                      {% endif %}
                      <td class="goods__parameter goods__parameter--price">{{ product.price }}</td>
                      <td class="goods__parameter goods__parameter--amount">
                        <div class="goods__value goods__value--amount">
                          <input class="form__input form__input--amount" name="amount_{{ product.pk }}" type="text" value="0">
                        </div>
                        <div class="goods__arrow goods__arrow--up"></div>
                        <div class="goods__arrow goods__arrow--down"></div>
                      </td>
                      <td class="goods__parameter goods__parameter--sum">- - -</td>
                   </tr>
                   {% endfor %}
                 {% endfor %}
              {% endif %}
                </table>
            {% endfor %}
          </section>
          {% endfor %}
        </section>
      </div>
    </section>
    <section class="form-section form-section--order" id="form-section">
      <div class="container">
        <h2 class="form-section__title">Оформление заказа</h2>
        <div class="cart">
          <h3 class="cart__title">Выбранные позиции:</h3>
        </div>
        {% for e in form.non_field_errors %}
          <div class="form__alert">{{ e }}</div>
        {% endfor %}
        <form class="form-section__form form-section__form--order" id="form" action="/sales/#form-section" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <label class="form__label form__label--last-name {% if form.last_name.errors %}form__label--invalid{% endif %}" for="last-name">
            <span class="form__text form__text--last-name">Фамилия *</span>
            <input class="form__input form__input--last-name" id="last-name" name="last_name" type="text">
          </label>
          <label class="form__label form__label--first-name {% if form.first_name.errors %}form__label--invalid{% endif %}" for="first-name">
            <span class="form__text form__text--first-name">Имя *</span>
            <input class="form__input form__input--first-name" id="first-name" name="first_name" type="text">
          </label>
          <label class="form__label form__label--patronym {% if form.patronym.errors %}form__label--invalid{% endif %}" for="patronym">
            <span class="form__text form__text--patronym">Отчество *</span>
            <input class="form__input form__input--patronym" id="patronym" name="patronym" type="text">
          </label>
          <label class="form__label form__label--delivery {% if form.delivery_type.errors %}form__label--invalid{% endif %}" for="delivery">
            <span class="form__text form__text--delivery">Доставка *</span>
            <select class="form__input form__input--delivery" id="delivery" name="delivery_type">
              <option value="none" disabled selected>Выберите из списка:</option>
              <option value="Самовывозом">Самовывозом</option>
              <option value="Железной дорогой">Железной дорогой</option>
              <option value="Автотранспортом">Автотранспортом</option>
            </select>
            <div class="form__info-block form__info-block--self-delivery">
              С производственной базы по адресу:
              <p class="form__text form__text--info-block">353320, Краснодарский край, г.&nbsp;Абинск, ул. Промышленная, 4</p>
            </div>
            <div class="form__info-block form__info-block--not-self-delivery">
              Стоимость доставки сырья за счет "СнабСервис" рассчитывается отдельно, путем контакта с клиентским отделом.
            </div>
          </label>
          <label class="form__label form__label--station {% if form.station.errors %}form__label--invalid{% endif %}" for="station">
            <span class="form__text form__text--station">Станция *</span>
            <input class="form__input form__input--station" id="station" name="station" type="text">
          </label>
          <label class="form__label form__label--address {% if form.address.errors %}form__label--invalid{% endif %}" for="address">
            <span class="form__text form__text--address">Адрес *</span>
            <textarea class="form__input form__input--address" id="address" name="address" rows="3"></textarea>
          </label>
          <label class="form__label form__label--message {% if form.message.errors %}form__label--invalid{% endif %}" for="message">
            <span class="form__text form__text--message">Сообщение</span>
            <textarea class="form__input form__input--message" id="message" name="message" rows="5"></textarea>
          </label>
          <label class="form__label form__label--documents">
            <span class="form__text form__text--documents">Добавить файл</span>
            <input class="form__input form__input--documents" name="document1" type="file">
            <div class="form__input form__input--file"></div>
          </label>
          <label class="form__label form__label--acceptance {% if form.is_accepted.errors %}form__label--invalid{% endif %}" for="is_accepted">
            <input class="form__input form__input--acceptance" type="checkbox" name="is_accepted">
            <span class="form__text form__text--acceptance">Даю согласие на обработку персональных данных.</span>
          </label>
          <textarea name="cart" hidden></textarea>
          <input class="btn btn--order" type="submit" value="Отправить">
        </form>
      </div>
    </section>
  </main>
  <footer>
    <section class="contacts">
      <div class="container clearfix">
        <ul class="contacts__list contacts__list--main">
          <li class="contacts__item contacts__item--main">
            <span class="contacts__key contacts__key--main">Телефон:</span>
            <div class="contacts__values-set">
              <a class="contacts__value contacts__value--main" href="tel:89034112620">8 903 411-26-20</a>
              <br>
              <a class="contacts__value contacts__value--main" href="tel:88619442620">8 861 944 26 20</a>
            </div>
          </li>
          <li class="contacts__item contacts__item--main">
            <span class="contacts__key contacts__key--main">E-mail:</span>
            <a class="contacts__value contacts__value--main" href="mailto:snabservis_llc@mail.ru">snabservis_llc@mail.ru</a>
          </li>
        </ul>
        <ul class="contacts__list contacts__list--links">
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--requisites.pdf" target="blank_">Реквизиты ООО “СнабСервис”</a>
          </li>
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--license.pdf" target="blank_">Лицензия ООО “СнабСервис”</a>
          </li>
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--license_pril.pdf" target="blank_">Приложение к Лицензии</a>
          </li>
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--contract.pdf" target="blank_">Договор на поставку сырья</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="copyright">
      <div class="container clearfix">
        <p class="copyright__text copyright__text--snabservice">ООО “СнабСервис” 2017. Все права защищены.</p>
        <p class="copyright__text copyright__text--julo">разработано <a class="copyright__text--julo-title" href="http://startjulo.ru/" target="blank_">Julo</a></p>
      </div>
    </section>
  </footer>
  <script src="//cdn.polyfill.io/v1/polyfill.js?features=es5"></script>
  <script src="/static/pages/js/script__sale.js"></script>
</body>
</html>