<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Покупаем черный металлолом по всей России и Казахстану. Оказываем услуги по транспортировке лома">
  <link rel="shortcut icon" href="/static/pages/img/favicon.png" type="image/png">
  <title>Цены на черный лом</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic">
  <link rel="stylesheet" href="/static/pages/css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <nav class="clearfix">
        <div class="logo">
          <img src="/static/pages/img/logo__header--snabservice.svg" width="137" height="35" alt="CнабСервис. Трейдинговая компания.">
        </div>
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" href="/">Главная</a>
          </li>
          <li class="menu__item menu__item--active">
            <a class="menu__link menu__link--services" href="/purchases/">Услуги</a>
            <ul class="menu__modal-window">
              <li class="menu__item menu__item--modal-window">
                <a class="menu__link menu__link--modal-window" href="/purchases/">Покупка черного лома</a>
              </li>
              <li class="menu__item menu__item--modal-window">
                <a class="menu__link menu__link--modal-window" href="/sales/">Продажа черного металлопроката</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/vacancies/">Вакансии</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/contacts/">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <h1 class="page-title page-title--services page-title--purchases">
        <p class="page-title__goods-type">Ознакомьтесь с условиями приема черного лома</p>
        <p class="page-title__manufacturer">И ценами, актуальными на данный момент.</p>
        <p class="page-title__form-paragraph">
          Или перейдите
          <a class="page-title__link" href="#form-section">к заполнению формы</a>
        </p>
      </h1>
    </div>
    <section class="about about--purchases">
      <div class="container">
        <section class="about__specialization">
          <h2 class="about__title about__title--specialization">Наша специализация</h2>
          <p class="about__text about__text--specialization">
            Черный металлолом является отходами, образуемыми в процессе эксплуатации инструментов производства, машин и других объектов, в составе которых
            обязательно присутствует железо, чугун или нержавеющая сталь.
          </p>
          <p class="about__text about__text--specialization">
            Мы осуществляем прием черного лома следующих категорий:
            <span class="about__text--bold">2А</span>,
            <span class="about__text--bold">3А</span>,
            <span class="about__text--bold">5А</span>,
            <span class="about__text--bold">26А</span>,
            <span class="about__text--bold">6А</span>,
            <span class="about__text--bold">17А</span>,
            <span class="about__text--bold">20А</span>.
            В зависимости от объема лома, которым Вы располагаете, мы окажем услуги по транспортировке продукции.
          </p>
        </section>
      </div>
      <div class="container">
        <section class="about__price">
          <h3 class="about__title about__title--price">
            Цена на черный лом устанавливается с учетом следующих факторов:
          </h3>
          <ul class="about__list about__list--price">
            <li class="about__item about__item--price">Наличие легирующих смесей</li>
            <li class="about__item about__item--price">Уровень содержания углерода</li>
            <li class="about__item about__item--price">Габаритные размеры</li>
          </ul>
          <p class="about__text about__text--price">Определение цены на черный металлолом также включает в себя учет&nbsp;сортов&nbsp;и&nbsp;категорий сырья.</p>
          <p class="about__text about__text--price">На разные категории черного лома мы предоставляем соответствующие цены, с которыми вы можете ознакомиться ниже.</p>
          <p class="about__text about__text--price about__text--summary">
            Интересующие вас вопросы вы всегда можете задать менеджерам ООО&nbsp;“СнабСервис”, позвонив по <a class="about__text--link" href="tel:88615041618">телефону</a>
            или воспользоваться <a class="about__text--link" href="/contacts/#callback">формой&nbsp;обратной&nbsp;связи</a>.
          </p>
        </section>
      </div>
    </section>
    <section class="requirements">
      <div class="container">
        <h1 class="page-title page-title--requirements">
          Технические условия по приему черного металлолома
        </h1>
        <table class="requirements__designations">
          <caption class="requirements__caption requirements__caption--designations">Обозначения</caption>
          <tr class="requirements__table-row requirements__table-row--designations">
            <th class="requirements__table-header requirements__table-header--designations requirements__table-header--size">-&nbsp;&nbsp;&nbsp;Размер</th>
            <th class="requirements__table-header requirements__table-header--designations requirements__table-header--length">-&nbsp;&nbsp;&nbsp;Длина</th>
            <th class="requirements__table-header requirements__table-header--designations requirements__table-header--weight">-&nbsp;&nbsp;&nbsp;Вес</th>
            <th class="requirements__table-header requirements__table-header--designations requirements__table-header--diameter">-&nbsp;&nbsp;&nbsp;Диаметр</th>
            <th class="requirements__table-header requirements__table-header--designations requirements__table-header--thickness">-&nbsp;&nbsp;&nbsp;Толщина</th>
          </tr>
        </table>
        <table class="requirements__table">
          <tr class="requirements__table-row requirements__table-row--main requirements__table-row--headers">
            <th class="requirements__table-header requirements__table-header--main">Категория</th>
            <th class="requirements__table-header requirements__table-header--main">Требования к габаритам и массе</th>
            <th class="requirements__table-header requirements__table-header--main">Процент засоренности</th>
            <th class="requirements__table-header requirements__table-header--main">Цена</th>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--category">2А</td>
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Рубленный, либо отобранный кусок черного лома.</p>
              <p class="requirements__text requirements__text--designations requirements__text--size" title="Размер">
                <span class="requirements__text--collation"><</span> 700 мм.</p>
              <p class="requirements__text requirements__text--warning">Только при дополнительном согласовании сторон!</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">1,5 - 3%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.2A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--category">
              3А
              <p class="requirements__text requirements__text--category-type">ж/д</p>
            </td>
            <td class="requirements__parameter requirements__parameter--gabarites">
              <section class="requirements__section">
                <p class="requirements__text requirements__text--description">Рельса.</p>
                <p class="requirements__text requirements__text--designations requirements__text--length" title="Длина">
                  <span class="requirements__text--collation"><</span> 1.5 м.
                </p>
              </section>
              <section class="requirements__section">
                <p class="requirements__text requirements__text--description requirements__text--second-description">Колесные пары, части тележек, верхнее&nbsp;строение&nbsp;пути.</p>
              </section>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">1,5 - 2%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.3A_rails.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--category" rowspan="9">3А</td>
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Лом черный, чугун.</p>
              <p class="requirements__text requirements__text--designations requirements__text--size" title="Размер">0,5 х 1,5 м</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">1,5 - 3%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.3A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Пакеты черного лома <span class="requirements__text--density-level">высокой</span> плотности.</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">1,5 - 5%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.3A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Пакеты черного лома <span class="requirements__text--density-level">низкой</span> плотности.</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">2 - 5%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.3A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Пакеты черного лома <span class="requirements__text--density-level">высокой</span> плотности
                с добавлением цинкового луженого лома.</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">3 - 7%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.3A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Пакеты луженые, оцинкованные, просечка, высечка <span class="requirements__text--density-level">высокой</span> плотности.</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">5 - 8%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.3A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Пакеты луженые, оцинкованные, просечка, высечка <span class="requirements__text--density-level">высокой</span> плотности.</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">10 - 13%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.3A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <section class="requirements__section">
                <p class="requirements__text requirements__text--description">Трос, канат рубленный.</p>
                <p class="requirements__text">
                  <span class="requirements__text--designations requirements__text--length" title="Длина">
                    10 - 50 мм.
                  </span>
                  <span class="requirements__text--designations requirements__text--diameter" title="Диаметр">1,5 - 2 м.</span>
                </p>
              </section>
              <section class="requirements__section">
                <p class="requirements__text requirements__text--description">Бухты.</p>
                <p class="requirements__text requirements__text--designations requirements__text--diameter" title="Диаметр">
                  <span class="requirements__text--collation"><</span> 1,5 м.
                </p>
              </section>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">3 - 5%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.3A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Проволока навалом (резанная)</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--length" title="Длина">
                  <span class="requirements__text--collation"><</span> 1,5 м.
                </span>
                <span class="requirements__text--designations requirements__text--diameter" title="Диаметр">
                  <span class="requirements__text--collation">></span> 3 мм.
                </span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">3 - 5%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.3A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Проволока навалом (резанная)</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--length" title="Длина">
                  <span class="requirements__text--collation"><</span> 1,5 м.
                </span>
                <span class="requirements__text--designations requirements__text--diameter" title="Диаметр">
                  <span class="requirements__text--collation"><</span> 3 мм.
                </span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">5 - 10%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.3A.price }} <span class="ruble">&#8399;</span></td>
          </tr>

          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--category">3АH</td>
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Стальной ножничный лом, габаритные размеры </p>
              <p class="requirements__text requirements__text--designations requirements__text--size" title="Размер">не более 1,5 х 0,5 х 0,5 м</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">3%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.3AH.price }} <span class="ruble">&#8399;</span></td>
          </tr>

          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--category" rowspan="16">5А</td>
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Луженный, оцинкованный лом, просечка, высечка, не пакетированные, россыпью.</p>
              <p class="requirements__text requirements__text--designations requirements__text--thickness" title="Толщина">
                <span class="requirements__text--collation"><</span> 1,5 м</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">от 15%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Луженный, оцинкованный лом, просечка, высечка, не пакетированные, россыпью.</p>
              <p class="requirements__text requirements__text--designations requirements__text--thickness" title="Толщина">
                <span class="requirements__text--collation">></span> 1,5 м</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">от 5%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Кусок черного лома, в т.ч. чугун, части конструкций, литьё.</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--size" title="Размер">
                  <span class="requirements__text--collation">></span> 1,5 м
                </span>
                <span class="requirements__text--designations requirements__text--thickness" title="Толщина">
                  <span class="requirements__text--collation"><</span> 200 мм
                </span>
                <span class="requirements__text--designations requirements__text--weight" title="Вес">
                  <span class="requirements__text--collation"><</span> 5 т
                </span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">2 - 5%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Кусок черного лома, в т.ч. чугун, части конструкций, противовесы, литьё.</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--size" title="Размер">
                  <span class="requirements__text--collation">></span> 1,5 м
                </span>
                <span class="requirements__text--designations requirements__text--thickness" title="Толщина">
                  <span class="requirements__text--collation">></span> 200 мм
                </span>
                <span class="requirements__text--designations requirements__text--weight" title="Вес">
                  <span class="requirements__text--collation">></span> 5 т
                </span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">5 - 15%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Кусок черного лома, в т.ч. чугун, части конструкций, противовесы, литьё.</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--size" title="Размер">
                  <span class="requirements__text--collation">></span> 1,5 м
                </span>
                <span class="requirements__text--designations requirements__text--thickness" title="Толщина">
                  <span class="requirements__text--collation">></span> 300 мм
                </span>
                <span class="requirements__text--designations requirements__text--weight" title="Вес">
                  <span class="requirements__text--collation"><</span> 10 т
                </span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">от 15%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Кусок черного лома, в т.ч. чугун, части конструкций, литьё.</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--size" title="Размер">
                  <span class="requirements__text--collation">></span> 1,5 м
                </span>
                <span class="requirements__text--designations requirements__text--thickness" title="Толщина">
                  <span class="requirements__text--collation">></span> 300 мм
                </span>
                <span class="requirements__text--designations requirements__text--weight" title="Вес">
                  <span class="requirements__text--collation">></span> 10 т
                </span>
              </p>
              <p class="requirements__text requirements__text--warning">Согласовывается индивидуально</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">!!!</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Труба, очищенная от битумной и пластиковой изоляции и земли</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--diameter" title="Диаметр">
                  <span class="requirements__text--collation">></span> 0,3 м
                </span>
                <span class="requirements__text--designations requirements__text--length" title="Длина">
                  <span class="requirements__text--collation">></span> 1,5 м
                </span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">1,5 - 3%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Труба, очищенная от битумной и пластиковой изоляции и земли. (С фрагментами изоляции не более 10% по всей длине, не допускается изоляция толщиной более 10 мм)</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--diameter" title="Диаметр">
                  <span class="requirements__text--collation">></span> 0,3 м
                </span>
                <span class="requirements__text--designations requirements__text--length" title="Длина">
                  <span class="requirements__text--collation">></span> 1,5 м
                </span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">3 - 15%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Проволока навал</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--diameter" title="Диаметр">
                  <span class="requirements__text--collation">></span> 3 мм
                </span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">3 - 5%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Проволока навал</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--diameter" title="Диаметр">
                  <span class="requirements__text--collation"><</span> 3 мм
                </span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">5 - 10%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Металлокорд, не использованный, без ржавчины.</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">от 10%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Пакеты свалочные.</p>
              <p class="requirements__text requirements__text--warning">Только при дополнительном согласовании сторон!</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">от 30%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Металлокорд б/у.</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">нет приема</td>
            <td class="requirements__parameter requirements__parameter--price">- - -</td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Трос, канат навалом.</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--diameter" title="Диаметр">10 - 50 мм</span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">5 - 8%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Проволока навалом (резанная)</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--length" title="Длина">
                  <span class="requirements__text--collation">></span> 1,5 м
                </span>
                <span class="requirements__text--designations requirements__text--diameter" title="Диаметр">
                  <span class="requirements__text--collation">></span> 3 мм
                </span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">3 - 5%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Проволока навалом (резанная)</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--length" title="Длина">
                  <span class="requirements__text--collation">></span> 1,5 м
                </span>
                <span class="requirements__text--designations requirements__text--diameter" title="Диаметр">
                  <span class="requirements__text--collation"><</span> 3 мм
                </span>
              </p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">5 - 10%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--category">
              5А
              <p class="requirements__text requirements__text--category-type">ж/д</p>
            </td>
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Рельса.</p>
              <p class="requirements__text requirements__text--designations requirements__text--length" title="Длина">
                <span class="requirements__text--collation">></span> 1,5 м</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">от 1,5%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.5A_rails.price }} <span class="ruble">&#8399;</span></td>
          </tr>

          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--category">6А</td>
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Стружка только в виде прессованных брикетов (таблеток). После лабораторных исследований.</p>
              <p class="requirements__text requirements__text--warning">Только при дополнительном согласовании сторон!</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">от 3%</td>
            <td class="requirements__parameter requirements__parameter--price">- - - <span class="ruble">&#8399;</span></td>
          </tr>

          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--category">17А</td>
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Чугунный лом</p>
              <p class="requirements__text requirements__text--designations requirements__text--size" title="Размер">1 х 0,5 х 0,5 м</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">2-5%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.17A.price }} <span class="ruble">&#8399;</span></td>
          </tr>

          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--category" rowspan="4">20А</td>
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Чугунный лом > 1м, части конструкций, станки, трубы, машинные отливы толщиной стенки до 200 мм, в том числе литье весом до 5 т.</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">3-7%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.20A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Тот же материал толщиной стенки > 200 мм, в том числе противовесы, литьё, весом более 5 т.</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">7-15%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.20A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Тот же материал толщиной стенки > 300 мм, в том числе противовесы, литьё, весом до 10 т.</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">от 15%</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.20A.price }} <span class="ruble">&#8399;</span></td>
          </tr>
          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Тот же материал свыше 10 т - приём по согласованию сторон</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">!!!</td>
            <td class="requirements__parameter requirements__parameter--price">{{ price.20A.price }} <span class="ruble">&#8399;</span></td>
          </tr>

          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--category">26А</td>
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Скрап после подтверждения лабораторией не менее 90% метал. жел.</p>
              <p class="requirements__text">
                <span class="requirements__text--designations requirements__text--diameter" title="Диаметр">
                  <span class="requirements__text--collation"><</span> 1 м
                </span>
                <span class="requirements__text--designations requirements__text--thickness" title="Толщина">
                  <span class="requirements__text--collation"><</span> 200 мм
                </span>
              </p>
              <p class="requirements__text requirements__text--warning">Только при дополнительном согласовании сторон!</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">5 - 10%</td>
            <td class="requirements__parameter requirements__parameter--price">- - -</td>
          </tr>

          <tr class="requirements__table-row requirements__table-row--main">
            <td class="requirements__parameter requirements__parameter--category">
            </td>
            <td class="requirements__parameter requirements__parameter--gabarites">
              <p class="requirements__text requirements__text--description">Копаный лом с большим налипанием земли и высоким содержанием ржавчины.</p>
              <p class="requirements__text requirements__text--warning">Только при дополнительном согласовании сторон!</p>
            </td>
            <td class="requirements__parameter requirements__parameter--polution">5 - 15%</td>
            <td class="requirements__parameter requirements__parameter--price">- - -</td>
          </tr>


        </table>
      </div>
    </section>
    <section class="form-section form-section--purchases" id="form-section">
      <div class="container">
        <h2 class="form-section__title form-section__title--purchases">
          Оформление заявки<br>
          на продажу черного металлолома
        </h2>
        {% for e in form.non_field_errors %}
          <div class="form__alert">{{ e }}</div>
        {% endfor %}
        <form class="form-section__form form-section__form--order" id="form" action="/purchases/#form-section" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <label class="form__label form__label--last-name {% if form.last_name.errors %}form__label--invalid{% endif %}" for="last-name">
            <span class="form__text form__text--last-name">Фамилия *</span>
            <input class="form__input form__input--last-name" id="last-name" name="last_name" type="text">
          </label>
          <label class="form__label form__label--first-name {% if form.first_name.errors %}form__label--invalid{% endif %}" for="first-name">
            <span class="form__text form__text--first-name">Имя *</span>
            <input class="form__input form__input--first-name" id="first-name" name="first_name" type="text">
          </label>
          <label class="form__label form__label--patronym {% if form.patronym.errors %}form__label--invalid{% endif %}" for="patronym">
            <span class="form__text form__text--patronym">Отчество *</span>
            <input class="form__input form__input--patronym" id="patronym" name="patronym" type="text">
          </label>
          <label class="form__label form__label--phone {% if form.phone.errors %}form__label--invalid{% endif %}" for="phone">
            <span class="form__text form__text--phone">Телефон *</span>
            <input class="form__input form__input--phone" name="phone" type="text">
          </label>
          <label class="form__label form__label--email {% if form.email.errors %}form__label--invalid{% endif %}" for="email">
            <span class="form__text form__text--email">E-mail *</span>
            <input class="form__input form__input--email" name="email" type="email">
          </label>
          <label class="form__label form__label--city {% if form.city.errors %}form__label--invalid{% endif %}" for="city">
            <span class="form__text form__text--city">Город</span>
            <input class="form__input form__input--city" name="city" type="text">
          </label>
          <label class="form__label form__label--count {% if form.amount.errors %}form__label--invalid{% endif %}" for="count">
            <span class="form__text form__text--count">Количество тонн</span>
            <input class="form__input form__input--count" name="amount" type="text">
          </label>
          <div class="form__fieldset form__fieldset--category">
            <span class="form__text form__text--category">Категория лома</span>
            <ul class="form__list form__list--category">
              <li class="form__item form__item--category">
                <label class="form__label form__label--category">
                  <input class="form__input form__input--category" type="checkbox" name="category_2A">
                  <span class="form__text form__text--category-checkbox">2А</span>
                </label>
              </li>
              <li class="form__item form__item--category">
                <label class="form__label form__label--category">
                  <input class="form__input form__input--category" type="checkbox" name="category_3A">
                  <span class="form__text form__text--category-checkbox">3А</span>
                </label>
              </li>
              <li class="form__item form__item--category">
                <label class="form__label form__label--category">
                  <input class="form__input form__input--category" type="checkbox" name="category_3Arails">
                  <span class="form__text form__text--category-checkbox">3А ж/д</span>
                </label>
              </li>
              <li class="form__item form__item--category">
                <label class="form__label form__label--category">
                  <input class="form__input form__input--category" type="checkbox" name="category_5A">
                  <span class="form__text form__text--category-checkbox">5А</span>
                </label>
              </li>
              <li class="form__item form__item--category">
                <label class="form__label form__label--category">
                  <input class="form__input form__input--category" type="checkbox" name="category_5Arails">
                  <span class="form__text form__text--category-checkbox">5А ж/д</span>
                </label>
              </li>
              <li class="form__item form__item--category">
                <label class="form__label form__label--category">
                  <input class="form__input form__input--category" type="checkbox" name="category_26A">
                  <span class="form__text form__text--category-checkbox">26А</span>
                </label>
              </li>
              <li class="form__item form__item--category">
                <label class="form__label form__label--category">
                  <input class="form__input form__input--category" type="checkbox" name="category_6A">
                  <span class="form__text form__text--category-checkbox">6А</span>
                </label>
              </li>
              <li class="form__item form__item--category">
                <label class="form__label form__label--category">
                  <input class="form__input form__input--category" type="checkbox" name="category_20A">
                  <span class="form__text form__text--category-checkbox">20А</span>
                </label>
              </li>
              <li class="form__item form__item--category">
                <label class="form__label form__label--category">
                  <input class="form__input form__input--category" type="checkbox" name="category_17A">
                  <span class="form__text form__text--category-checkbox">17А</span>
                </label>
              </li>
              <li class="form__item form__item--category">
                <label class="form__label form__label--category">
                  <input class="form__input form__input--category" type="checkbox" name="category_3AH">
                  <span class="form__text form__text--category-checkbox">3АH</span>
                </label>
              </li>
            </ul>
          </div>
          <label class="form__label form__label--deliverable {% if form.deliverable.errors %}form__label--invalid{% endif %}" for="deliverable">
            <span class="form__text form__text--deliverable">Возможность доставки</span>
            <select class="form__input form__input--deliverable" name="deliverable">
              <option value="none" selected disabled>Выберите из списка:</option>
              <option value="Могу доставить">Могу доставить</option>
              <option value="Не могу доставить">Не могу доставить</option>
            </select>
            <div class="form__info-block form__info-block--deliverable form__info-block--no-deliverable">
              Итоговая стоимость сырья, с учетом доставки, оговаривается отдельно путем контакта с клиентским отделом "СнабСервис".
            </div>
            <div class="form__info-block form__info-block--deliverable form__info-block--yes-deliverable">
              Итоговая стоимость сырья с учетом доставки железной дорогой, оговаривается отдельно путем контакта с клиентским отделом "СнабСервис".
            </div>
          </label>
          <label class="form__label form__label--delivery-type {% if form.delivery_type.errors %}form__label--invalid{% endif %}" for="delivery-type">
            <span class="form__text form__text--delivery-type">Способ доставки</span>
            <select class="form__input form__input--delivery-type" name="delivery_type">
              <option value="none" selected disabled>Выберите из списка:</option>
              <option value="Автотранспортом">Автотранспортом</option>
              <option value="Железной дорогой">Железной дорогой</option>
            </select>
            <div class="form__info-block form__info-block--delivery form__info-block--purchases">
              На производственную базу по адресу:
              <p class="form__text form__text--info-block form__text--info-block-purchases">353320, Краснодарский край, г.&nbsp;Абинск, ул. Промышленная, 4</p>
              Код станции: <span class="form__text form__text--info-block form__text--info-block-purchases">52 35 05</span>
            </div>
          </label>
          <label class="form__label form__label--message {% if form.message.errors %}form__label--invalid{% endif %}" for="message">
            <span class="form__text form__text--message">Сообщение</span>
            <textarea class="form__input form__input--message" id="message" name="message" rows="5"></textarea>
          </label>
          <label  class="form__label form__label--documents">
            <span class="form__text form__text--documents">Добавить файлы</span>
            <input class="form__input form__input--documents" name="document1" type="file">
            <div class="form__input form__input--file"></div>
          </label>
          <label class="form__label form__label--acceptance {% if form.is_accepted.errors %}form__label--invalid{% endif %}" for="is_accepted">
            <input class="form__input form__input--acceptance" type="checkbox" name="is_accepted">
            <span class="form__text form__text--acceptance">Даю согласие на обработку персональных данных.</span>
          </label>
          <input class="btn btn--order" type="submit" value="Отправить">
        </form>
      </div>
    </section>
  </main>
  <footer>
    <section class="contacts">
      <div class="container clearfix">
        <ul class="contacts__list contacts__list--main">
          <li class="contacts__item contacts__item--main">
            <span class="contacts__key contacts__key--main">Телефон:</span>
            <div class="contacts__values-set">
              <a class="contacts__value contacts__value--main" href="tel:89034112620">8 903 411-26-20</a>
              <br>
              <a class="contacts__value contacts__value--main" href="tel:88619442620">8 861 944 26 20</a>
            </div>
          </li>
          <li class="contacts__item contacts__item--main">
            <span class="contacts__key contacts__key--main">E-mail:</span>
            <a class="contacts__value contacts__value--main" href="mailto:snabservis_llc@mail.ru">snabservis_llc@mail.ru</a>
          </li>
        </ul>
        <ul class="contacts__list contacts__list--links">
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--requisites.pdf" target="blank_">Реквизиты ООО “СнабСервис”</a>
          </li>
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--license.pdf" target="blank_">Лицензия ООО “СнабСервис”</a>
          </li>
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--license_pril.pdf" target="blank_">Приложение к Лицензии</a>
          </li>
          <li class="contacts__item contacts__item--links">
            <a class="contacts__link" href="/static/pages/img/doc__footer--contract.pdf" target="blank_">Договор на поставку сырья</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="copyright">
      <div class="container clearfix">
        <p class="copyright__text copyright__text--snabservice">ООО “СнабСервис” 2017. Все права защищены.</p>
        <p class="copyright__text copyright__text--julo">разработано <a class="copyright__text--julo-title" href="http://startjulo.ru/" target="blank_">Julo</a></p>
      </div>
    </section>
  </footer>
  <script src="/static/pages/js/script__purchases.js"></script>
</body>
</html>